{% extends "base.html" %}

{% block static_files %}
<!-- This refreshes the page every 5 seconds -->
<script>
$(document).ready(function() {
  setInterval(function() {
    cache_clear()
  }, 5000);
});

function cache_clear() {
  window.location.reload(true);
  // window.location.reload(); use this if you do not remove cache
}
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>SCORES</h1>
    <a class="btn btn-sm btn-outline-dark my-4" href="{% url 'submit-flag' %}">Flags</a>
    <table class="table table-dark table-responsive" style="max-height: 100%;">
        <tr>
            <th>Timestamp</th>
            <th>Team</th>
            <th>Type</th>
            <th>Description</th>
            <th>Point Value</th>
        </tr>
        {% for scoring_event in object_list %}
            <tr>
                <td>{{ scoring_event.timestamp }}</td>
                <td>{{ scoring_event.team.team_name }}</td>
                <td>{{ scoring_event.event_type }}</td>
                <td>{{ scoring_event.description }}</td>
                <td>{{ scoring_event.point_value }}</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}