{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Create Flag</h1>
    <form class="form-group standard-form" method="post" action="{{ request.get_path }}">
    {% csrf_token %}
    <div class="form-group d-flex flex-column">
        <label for="id_for_flag_string">Flag String</label>
        <input id="id_for_flag_string" class="form-control" name="flag_string" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_for_value">Value</label>
        <input id="id_for_value" type="number" class="form-control" name="value" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_for_description">Description</label>
        <input id="id_for_description"  class="form-control" name="description" />
    </div>

    <div class="form-group d-flex flex-column">
        <button id="submit_btn" type="submit" class="btn btn-sm btn-outline-dark">Create</button>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger">
    	{{ form.errors }}
        </div>
    {% endif %}
    </form>
</div>
{% endblock %}