
{% extends "base.html" %}
{% load static %}
{% block static_files %}
<link href="{% static 'flag_scoring/flag_scoring.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="form submit-flag-form">
        {% csrf_token %}
        <div class="form-group d-flex flex-column">
            {{ form.flag_string.label }}
            <input type="text" class="form-control my-2" name="flag_string" maxlength="200" required id="id_flag_string">
        </div>
        <div class="form-group d-flex flex-column">
            <button type="submit" class="btn btn-outline-dark form-control" >Submit</button>
        </div>
        {% if form.errors %}
        <div class="alert-danger">
        {{ form.errors.flag_string }}
        </div>
        {% endif %}
    </form>


    {% if perms.scoring_server.can_do_admin %}
    <table class="table table-striped">
        <tr>
            <th>Flag String</th>
            <th>Value</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    {% for flag in flags %}
        <tr>
            <td>{{ flag.flag_string }}</td>
            <td>{{ flag.value }}</td>
            <td>{{ flag.description }}</td>
            <td><a href="{% url 'edit-flag' flag.flag_id %}" class="btn btn-sm btn-info">Edit</a></td>
            <td><a href="{% url 'delete-flag' flag.flag_id %}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <div class="my-4">
    <a href="{% url 'add-flag' %}" class="btn btn-sm btn-outline-dark">Add Flag</a>

    </div>
    {% endif %}
    {% if generic_error %}
    <div class="alert-danger">
        {{ generic_error }}
    </div>
    {% endif %}
</div>
{% endblock %}