{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Create Admin</h1>
    <form class="form-group standard-form" method="post">
    {% csrf_token %}
    <div class="form-group d-flex flex-column">
        <label for="id_username">Admin Username:</label>
        <input id="username" class="form-control" name="username" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_email">Email for admin:</label>
        <input id="email" class="form-control" name="email" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="password">Admin Password:</label>
        <input id="password" type="password" class="form-control" name="password" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="confirm_password">Confirm Admin Password:</label>
        <input id="confirm_password" type="password" class="form-control" name="confirm_password" />
    </div>
    <div class="form-group d-flex flex-column">
        <button id="submit_btn" type="submit" class="btn btn-sm btn-outline-dark">Create</button>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger">
    	{{ form.errors }}
        </div>
    {% endif %}
    </form>
</div>
{% endblock %}