{% extends "base.html" %}



{% block content %}
<div class="container">

            <form class="form-group standard-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                <strong>{{ form.username.label }}</strong>
                    <div class="form-group d-flex flex-column">
                        <label for="id_username">Username</label>
                        <input name="username" id="id_for_username" class="form-control">
                    </div>

                    <div class="form-group d-flex flex-column">
                        <label for="id_username">Password</label>
                        <input name="password" type="password" id="id_for_password" class="form-control">

                            <input type="hidden" name='next' value="{% url 'index' %}" />
                    </div>
                    <div class="form-group d-flex flex-column">
                            <input type="submit" class="btn btn-info btn-md" value="Login" />
                    </div>

                        {% if form.errors %}
                        <li class="list-group-item" style="color: red">
                            <p>Please enter a correct username and password. Note that both fields may be case-sensitive.
                            </p>
                        </li>
                        {% endif %}

                </ul>
                </form>
{#             <a href="{% url 'password_reset' %}"><p>Forgot Password?</p></a> #}
</div>
{% endblock %}