{% extends "base_team_management.html" %}

{% load static %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'team_management/team_management.css' %} ">
{% endblock %}

{% block content %}
<div class="container ">
<form method="POST" class="form team-form">
    {% csrf_token %}
    <div class="form-group d-flex flex-column">
        <label for="id_team_name">Team Name:</label>
        <input id="id_team_name" class="form-control" name="team_name" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_team_password">Team Password:</label>
        <input type="password" id="id_team_password" class="form-control" name="team_password" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_team_description">Team Description:</label>
        <input id="id_team_description" class="form-control" name="description" />
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_team_description">Team Type:</label>
        <select class="form-control" name="team_type">
            <option value="RT">RED TEAM</option>
            <option value="BT">BLUE TEAM</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-outline-dark">Save</button>
    </div>
</form>
</div>
{% endblock %}