{% extends "base_team_management.html" %}

{% block content %}
<div class="container">
    <table class="table table-dark">

        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Current Score</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
    {% for team in teams %}
        <td>{{ team.team_name }}</td>
        <td>{{ team.description }}</td>
        <td>{{ team.current_score }}</td>
        <td>{{ team.get_team_type_display }}</td>
        {% if perms.scoring_server.can_do_admin %}
            <td><a href="{% url 'add-team-member' team.team_id %}" class="btn btn-sm btn-outline-light">Add Member</a></td>
            <td><a href="{% url 'edit-team' team.team_id %}" class="btn btn-sm btn-info">Edit</a></td>
            <td><a href="{% url 'delete-team' team.team_id %}" class="btn btn-sm btn-danger">Delete</a></td>
        {% endif %}
        </tbody>
    {% endfor %}

    </table>

    {% if perms.scoring_server.can_do_admin %}
        <div>
            <a class="btn btn-outline-primary btn-sm mb-4" href="{% url 'add-team' %}">Add Team</a>
        </div>
        <div>
            <a class="btn btn-outline-primary btn-sm mb-4" href="{% url 'change-user-password' %}">Change user password</a>
        </div>
        {% for team, members in team_members.items %}
            <table class="table table-dark table-striped">
                <tr><th>{{ team }}</th></tr>
                {% for member in members %}
                        <tr>
                            <td>{{ member }} </td>
                        </tr>
                {% endfor %}
                    </tr>
            </table>
        {% endfor %}
        </table>
    {% endif %}

</div>
{% endblock %}
