{% extends "add_team.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Team: {{ current_team }}</h1>
<form method="POST" class="form team-form d-flex flex-column" action="{% url 'change-team-password' team.team_id">
    {% csrf_token %}
    <p>{{ team.team_name }}</p>
    <div class="form-group">
        <label for="id_password">Password:</label>
        <input class="form-control" id="id_password" name="team_password" type="password" />
    </div>
    <div class="form-group">
        <input class="btn btn-sm btn-outline-dark" type="submit" value="Save">
    </div>
    {% if form.errors %}
    <div class="alert-danger p-2">
       {{ form.errors }}

    </div>
    {% endif %}
</form>
</div>
{% endblock %}