{% extends "add_team.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Team: {{ current_team }}</h1>
<form method="POST" class="form team-form d-flex flex-column">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input class="form-control" id="id_username" name="username" type="username" />
    </div>
    <div class="form-group">
        <label for="id_password">Your Password:</label>
        <input class="form-control" id="id_password" name="password" type="password" />
    </div>

    <div class="form-group">
        <label for="id_confirm_password">Confirm Password:</label>
        <input class="form-control" id="id_confirm_password" name="confirm_password" type="password" />
    </div>
    <div class="form-group">
        <input class="btn btn-sm btn-outline-dark" type="submit" value="Save">
    </div>
    {% if form.errors %}
    <div class="alert-danger">
        {% for err, values in form.errors.items %}
        <p>{{ values }}</p>
        {% endfor %}
    </div>
    {% endif %}
</form>
</div>
{% endblock %}