{% extends "base_team_management.html" %}

{% load static %}

{% block static_files %}
<link rel="stylesheet" href="{% static 'team_management/team_management.css' %} ">
{% endblock %}

{% block content %}
<div class="container ">
<form method="POST" class="form team-form">
    {% csrf_token %}
    <div class="form-group d-flex flex-column">
        <label for="id_team_name">Team Name:</label>
        <input id="id_team_name" class="form-control" name="team_name" value="{{ team.team_name }}"/>
    </div>
    <div class="form-group d-flex flex-column">
        <label for="id_team_description">Team Description:</label>
        <input id="id_team_description" class="form-control" name="description" value="{{ team.team_description }}" />
    </div>
<!--    <div class="form-group d-flex flex-column">-->
<!--        <label for="id_team_description">Team Description:</label>-->
<!--        <select class="form-control" name="team_type">-->
<!--            <option value="RT">RED TEAM</option>-->
<!--            <option value="BT">BLUE TEAM</option>-->
<!--        </select>-->
<!--    </div>-->

    <input type="hidden" value="{{team.team_type }}" name="team_type">
    <input type="hidden" value="{{team.team_id }}" name="team_id">
    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-outline-dark">Save</button>
    </div>
</form>
    <a href="{% url 'change-team-password' team.team_id %}" class='btn btn-sm btn-outline-dark'>Change Password</a>
    {% if form.errors %}
    <div class="alert-danger p-2">
        {{ form.errors }}
    </div>
    {% endif %}
</div>
{% endblock %}