{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if perms.scoring_server.can_do_admin %}
        <p><a href="{% url 'edit-ftp' %}" class="btn btn-sm btn-outline-dark">Edit FTP Settings</a></p>
        <p><a href="{% url 'edit-wordpress' %}" class="btn btn-sm btn-outline-dark">Edit Wordpress</a></p>
        <p><a href="{% url 'edit-bigapp' %}" class="btn btn-sm btn-outline-dark">Edit BigApp</a></p>
        {% for serv in services %}
            <p>{{ serv.service_name }} is monitored: {{ serv.is_monitored }}
                <a href="{% url 'monitor-service' serv.service_name %}" class="btn btn-sm btn-outline-dark">Start Monitoring</a>
            </p>
        {% endfor %}
    {% else %}
        <p>This page is currently admins only.</p>
    {% endif %}

</div>
{% endblock %}