{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="{{ request.get_path }}" method="post" class="standard-form">
        {% csrf_token %}
        <p>Change requests remaining: {{ change_requests_remaining }}</p>
        <div class="form-group">
            <label for="id_for_password">Enter new password:</label>
            <input class="form-control" type="password" name="password" id="id_for_password" value="{{ current_settings.password }}">
        </div>
        <div class="form-group">
            <input class="form-control btn btn-outline-dark btn-sm" type="submit" value="Save">
        </div>
    </form>
    {% if success %}
    <div class="alert-success">
        <p>Settings saved!</p>
    </div>
    {% endif %}
</div>

{% endblock %}